@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

#bar::after {
  content: "|";
  color: black;
  font-size: 14px;
  padding: 0 6px;
}

.text-14px {
  font-size: 14px !important;
}

.Item-gradient {
  background: linear-gradient(275.41deg, #d5e7e6 -27.33%, #ffffff 46.85%);
}
